.timer {
  color: grey;
  height: 100px;
  position: absolute;
  width: 100%;

  span {
    color: red;
    font-family: 'DigitalDisplay', monospace;
    font-size: 6.1em;
    font-weight: bold;
    left: 50%;
    letter-spacing: 15px;
    padding-left: 24px;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%);
  }
}
