@font-face {
  font-family: 'DigitalDisplay';
  src: url('fonts/digital_display_tfb.ttf') format('truetype');
}

@font-face {
  font-family: 'National';
  src: url('fonts/National_OTF_Font/National-Regular.otf') format('truetype');
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $background;
  background-color: $background;
  font-family: $smm-default-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  user-select: none;
}
