.app {
  background-image: url("../../images/409.MA.2\ BaseFrame_2020_RG.png");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  height: 100vh;
  padding: 0 15px !important;

  .previous-race-column {
    height: 100%;
    margin: 131px 0;
    position: relative;
    width: calc(20% + 4px);

    .col {
      height: calc((100vh - 262px) / 3);
    }

    .timer {
      color: grey;
      position: absolute;
      width: 100%;

      span {
        color: red;
        font-family: 'DigitalDisplay', monospace;
        font-size: 3.7em;
        font-weight: bold;
        position: absolute;
        text-align: center;
        width: 20px;

        &.seconds {
          left: 93px;
        }

        &.decimal {
          left: 117px;
        }

        &.first {
          left: 138px;
        }

        &.second {
          left: 170px;
        }

        &.third {
          left: 201px;
        }
      }
    }

    .row:nth-of-type(1) {
      .timer {
        span {
          top: 60px;
        }
      }
    }

    .row:nth-of-type(2) {
      .timer {
        span {
          top: 94px;
        }
      }
    }

    .row:nth-of-type(3) {
      .timer {
        span {
          top: 128px;
        }
      }
    }
  }

  .track-lane-column {
    height: calc(100vh - 30px);
    position: relative;
    width: calc(60% - 8px);
  }

  .stoplight-column {
    height: 100%;
    position: relative;
    width: calc(20% + 4px);
  }
}

.loading {
  color: $white;
  font-family: 'National', Arial, Helvetica, sans-serif;
  font-size: 5em;
  font-weight: 800;
  height: 100vh;
  position: relative;
  text-align: center;
  width: 100%;

  & > div {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
