.lane-container {
  height: 100vh;
  padding: 0;

  .timer {
    color: grey;
    height: 100px;
    position: absolute;
    width: 100%;

    span {
      color: red;
      font-family: 'DigitalDisplay', monospace;
      font-size: 4.3em;
      font-weight: bold;
      position: absolute;
      text-align: center;
      top: 60px;
      width: 40px;

      &.seconds {
        left: 48px;
      }

      &.decimal {
        left: 75px;
      }

      &.first {
        left: 99px;
      }

      &.second {
        left: 134px;
      }

      &.third {
        left: 168px;
      }
    }
  }

  img {
    display: block;
    height: calc(100% - 50px);
    margin: 50px auto 0;

    &.ribbon {
      height: 35%;
      left: 50%;
      position: absolute;
      top: 225px;
      transform: translateX(-50%);
    }
  }
}
