.lane-container {
  padding: 52.5px 0;

  .timer {
    color: grey;
    height: 100px;
    position: absolute;
    width: 100%;

    span {
      color: red;
      font-family: 'DigitalDisplay', monospace;
      font-size: 6.4em;
      font-weight: bold;
      position: absolute;
      text-align: center;
      top: 45px;
      width: 40px;

      &.seconds {
        left: 55px;
      }

      &.decimal {
        left: 95px;
      }

      &.first {
        left: 133px;
      }

      &.second {
        left: 186px;
      }

      &.third {
        left: 238px;
      }
    }
  }

  img {
    display: block;
    height: calc(100vh - 105px);
    margin: auto;
  }
}
