.message-block.message-block.message-block {
  font-size: 2.5em;
  max-width: 800px;
  top: 50%;
  transform: translateY(-50%);

  .modal-content {
    display: block;
    margin: auto;
    min-width: 800px;
  }
}
