.message-block.message-block.message-block {
  max-width: 800px;
  top: 50%;
  transform: translateY(-50%);

  .modal-content {
    display: block;
    margin: auto;
    min-width: 800px;
    
    img {
      margin-top: -100px;
      width: 100%;
    }
  }
}
